body {
    background-color: pink;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button#noButton {
    position: absolute;
}

.home {
    padding: 50px;
}

.date-schedule, .confirmation {
    padding: 50px;
}

.heart {
    position: absolute;
    color: red;
}